body {
    font-family: sans-serif;
}

#rot {
    width:150px;
    height:150px;
    position:absolute;
    top:100px;
    left:100px; 
    border-spacing: 0;
    background:url(bg.png);
    transition: all 300ms ease-in;
}