#container{
	width:80%;
	margin:0 auto;
}

.bx-pager{
	display:none;
}

.bx-prev{
	    padding: 5px 10px;
    background-color: rgb(240, 240, 240);
    margin-top: 30px;
    text-decoration: none;
    color: rgb(102, 102, 102);
    float: left;
}
.bx-next{
float: right;
padding: 5px 10px;
background-color: rgb(240, 240, 240);
margin-top: 30px;
text-decoration: none;
color: rgb(102, 102, 102);
position: absolute;
left: 72%;
}